@model IPagedList<food.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page"; 
}

<div>@food.Views.Resource.Greetings</div>

<div>@ViewBag.Message</div>

@*<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="search by name" />
</form>*@

@*@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod="get",
        InsertionMode=InsertionMode.Replace,
        UpdateTargetId="restaurantList"}))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="search by name" />
}*@

<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="search by name" />
</form>

@Html.Partial("_Restaurants", Model)
